@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "@catppuccin/tailwindcss/mocha.css";
@import "tailwindcss";

@theme {
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-inter: "Inter";

  --animate-infinite-scroll: infinite-scroll 25s linear infinite;
  /* --animate-infinite-scroll: infinite-scroll 25s linear infinite; */

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* @keyframes infinite-scroll { */
  /*   from { */
  /*     transform: translateX(0); */
  /*   } */
  /*   to { */
  /*     transform: translateX(-100%); */
  /*   } */
  /* } */
}
