---
import MyLayout from "../layouts/MyLayout.astro";
---

<MyLayout>
  <div class="w-[78%] h-screen mx-auto">
    <div class="h-screen flex flex-col justify-center items-center">
      <p class="text-4xl md:text-8xl font-jetbrains-mono">404</p>
      <p
        class="text-base md:text-3xl font-jetbrains-mono w-100 text-center mb-20"
      >
        Sorry, page not found
      </p>
    </div>
  </div>
</MyLayout>
