---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <div
    class="h-screen flex flex-col justify-center items-center gap-4 text-ctp-text pb-24"
  >
    <h1 class="text-4xl sm:text-8xl font-black">404</h1>
    <p class="text-sm sm:text-xl">
      Sorry the page that you are looking for is not found.
    </p>
    <a
      href="/"
      class="px-4 py-1 text-ctp-base bg-ctp-text/90 rounded-xl cursor-pointer transition duration-200 ease-in-out hover:bg-ctp-text"
      >Back to Homepage</a
    >
  </div>
</MainLayout>
