---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="bg-ctp-base text-ctp-text">
    <div class="w-[70%] mx-auto">
      <h1>POSTS</h1>
    </div>
  </div>
</MainLayout>
