---
const { title, description } = Astro.props;
---

<div
  id="card"
  class="w-70 md:w-100 h-30 md:h-35 bg-ctp-surface0 rounded-xl shadow-xl/30"
>
  <div class="flex gap-2 p-2">
    <div id="circle" class="rounded-full w-2 h-2 md:w-3 md:h-3 bg-ctp-red">
    </div>
    <div id="circle" class="rounded-full w-2 h-2 md:w-3 md:h-3 bg-ctp-yellow">
    </div>
    <div id="circle" class="rounded-full w-2 h-2 md:w-3 md:h-3 bg-ctp-green">
    </div>
  </div>
  <div id="content" class="mx-3">
    <h1
      class="text-base md:text-lg md:text-xl text-ctp-maroon tracking-tighter"
    >
      Theo <span class="text-base"> / </span><span class="text-ctp-teal"
        >{title}</span
      >
    </h1>
    <p class="text-xs md:text-sm md:text-base line-clamp-3">
      {description}
    </p>
  </div>
</div>
