---
import Card from "./Card.astro";
---

<div class="w-full">
  <a href="">
    <div
      id="card-container"
      class="md:w-120 md:h-80 rounded-xl border border-ctp-lavender/50"
    >
      <div
        class="flex justify-center items-center md:h-55 bg-ctp-lavender rounded-t-xl"
      >
        <Card
          title="File Mover"
          description="A lightweight CLI automation tool that organizes directory files by extension"
        />
      </div>
      <div id="desc" class="mt-3">
        <h1 class="text-xl font-semibold ml-5">File Mover</h1>
        <p class="text-sm text-ctp-text/80 ml-5">
          A lightweight CLI automation tool that organizes directory files by
          extension
        </p>
      </div>
    </div>
  </a>
</div>
