---
import Card from "./CardContainer.astro";

const fileMover = ["python"];
const mastery = ["react", "javascript", "supabase", "tailwindcss"];
---

<div class="w-full flex flex-wrap justify-between gap-5">
  <Card
    link="https://github.com/thheor/python-projects"
    title="File Mover"
    descCli="A lightweight CLI automation to organizes directory by file extension"
    description="A lightweight CLI automation to organizes directory by file extension"
    tools={fileMover}
  />
  <Card
    link="https://github.com/thheor/mastery"
    title="Mastery"
    descCli="A comprehensive web application designed to optimize student learning workflows: Flashcards, Quizzes, Pomodoro"
    description="Built with React JS for dynamic user interface and Supabase for backend services"
    tools={mastery}
  />
</div>
