---

---

<footer class="flex justify-center items-center mt-15">
  <div
    class="relative flex justify-center items-center w-[85%] md:w-[65%] max-md:h-30 bg-ctp-crust h-15 mb-5 rounded-lg"
  >
    <div class="flex max-md:flex-col max-md:gap-2 md:justify-between w-[95%]">
      <p class="relative md:text-base max-md:mx-auto font-inter">
        <span class="absolute botton-1 md:bottom-2 text-sm">@ </span>
        <span class="ml-4">2026 Lukman Prasetyo</span>
      </p>
      <p
        class="absolute translate-x-[-50%] translate-y-[-50%] top-[80%] whitespace-nowrap md:top-[50%] left-[50%] font-inter md:text-base"
      >
        Built with <i class="fa-solid fa-heart text-ctp-red"></i> using Astro
      </p>
      <div class="flex gap-5 text-xl max-md:mx-auto max-md:mb-10">
        <a href="https://www.linkedin.com/in/lukman-prasetyo-341407326/">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="github.com/thheor">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/lukman-prasetyo-341407326/">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
