---

---

<footer class="w-screen fixed bottom-0 flex justify-center">
  <div class="w-[95%] sm:w-[80%] flex justify-start">
    <div class="flex flex-col justify-center items-center gap-2">
      <a
        href="https://github.com/thheor"
        class="transition duration-300 ease-in-out opacity-100 sm:opacity-80 hover:opacity-100"
      >
        <i class="fa-brands fa-github text-2xl md:text-3xl xl:text-4xl"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/lukman-prasetyo-341407326/"
        class="transition duration-300 ease-in-out opacity-100 sm:opacity-80 hover:opacity-100"
      >
        <i class="fa-brands fa-linkedin text-2xl md:text-3xl xl:text-4xl"></i>
      </a>
      <a
        href="https://instagram.com/lukmanp._"
        class="transition duration-300 ease-in-out opacity-100 sm:opacity-80 hover:opacity-100"
      >
        <i class="fa-brands fa-instagram text-2xl md:text-3xl xl:text-4xl"></i>
      </a>
      <div class="border-l-1 h-25 border-ctp-text/80"></div>
    </div>
  </div>
</footer>
