---
import { Image } from "astro:assets";
const { image } = Astro.props;
---

<div id="card" class="w-full h-auto max-sm:shadow-md max-sm:rounded-xl">
  <div class="sm:grid sm:grid-cols-3 sm:grid-rows-2 sm:gap-2">
    <div
      id="skeleton"
      class="row-span-2 col-span-2 rounded-lg animate-pulse bg-gray-300 opacity-70"
    >
      <img
        id="image"
        src={image[0]}
        alt="project image"
        class="object-cover h-full"
        onload="imageShow()"
      />
    </div>
    <div
      id="skeleton"
      class="max-sm:hidden h-full rounded-lg animate-pulse bg-gray-300 opacity-70"
    >
      <img
        id="image"
        src={image[1]}
        alt="project image"
        class="max-sm:hidden object-cover h-full rounded-lg"
        onload="imageShow()"
      />
    </div>
    <div
      id="skeleton"
      class="max-sm:hidden h-full rounded-lg animate-pulse bg-gray-300 opacity-70"
    >
      <img
        id="image"
        src={image[2]}
        alt="project image"
        class="max-sm:hidden object-cover h-full rounded-lg"
        onload="imageShow()"
      />
    </div>
  </div>
</div>
<script>
  const skeleton = document.querySelectorAll("#skeleton");
  const image = document.querySelectorAll("#image");

  function imageShow() {
    skeleton.forEach((element) => {
      element.classList.remove("animate-pulse", "bg-gray-300", "opacity-70");
    });
  }

  image.forEach((element) => {
    if (element.complete) {
      imageShow();
    } else {
      element.addEventListener("load", imageShow);
    }
  });
</script>
