---
const currentPath = new URL(Astro.request.url).pathname;
let isDark = true;
---

<div class="flex justify-center">
  <nav
    class="fixed scale-100 animate-scale-up top-5 px-10 sm:px-8 py-1 sm:py-2 border border-ctp-text/20 rounded-xl backdrop-blur-lg shadow-md transparent"
  >
    <button id="button" class="sm:hidden">Click to See My Profile🤗</button>
    <ul
      id="nav-item"
      class="max-sm:hidden flex max-sm:flex-col justify-center max-sm:justify-between items-center sm:gap-5 font-medium font-roboto-flex tracking-wide max-md:text-base 2xl:text-xl text-ctp-text"
    >
      <li>
        <a href="/" class={currentPath === "/" ? "opacity-100" : "opacity-70"}>
          Home
        </a>
      </li>
      <li>
        <a
          href="/project"
          class={currentPath === "/project" ? "opacity-100" : "opacity-70"}
        >
          What I've done
        </a>
      </li>
      <li class="max-sm:hidden">
        <button onclick="" id="modeToggle">
          {
            isDark ? (
              <i class="fa-regular fa-moon text-xl" />
            ) : (
              <i class="fa-regular fa-star text-xl" />
            )
          }
        </button>
      </li>
      <li>
        <a
          href="/certifications"
          class={currentPath === "/certifications"
            ? "opacity-100"
            : "opacity-70"}
        >
          Certifications
        </a>
      </li>
      <li>
        <a
          href="/blogs"
          class={currentPath === "/blogs" ? "opacity-100" : "opacity-70"}
        >
          Blogs
        </a>
      </li>
    </ul>
  </nav>
</div>
<style>
  @keyframes scaleup {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }

  .animate-scale-up{
    animation: scaleup 1s ease-out forwards;
  }
</style>
<script>
const button = document.getElementById('button');
const navbar = document.getElementById('nav-item')

const openNavbar = () => {
  navbar?.classList.toggle('max-sm:hidden')
  button?.classList.toggle('hidden')
}

button?.addEventListener("click", openNavbar)
</script>
