---
const url = new URL(Astro.request.url).pathname;
const path = url;
---

<div
  class="w-full sticky top-0 backdrop-blur-sm transparent antialiased z-50 border-none"
>
  <div
    class="flex justify-between mx-auto h-15 items-center w-[82%] md:w-[75%]"
  >
    <p>
      <a
        class="font-jetbrains-mono text-ctp-blue tracking-wide text-lg animate-pulse hover:animate-none"
        href="/"
        title="Welcome page">~</a
      >
      <span class="font-jetbrains-mono text-ctp-text tracking-wide">
        {path}</span
      >
    </p>
    <button
      id="toggle-btn"
      class="flex justify-center items-center md:hidden scale-120 transition duration-300 ease-in-out hover:scale-130 cursor-pointer z-100"
    >
      <span id="bars" class="">
        <i class="fa-solid fa-bars"></i>
      </span>
    </button>
    <!-- <div -->
    <!--   id="overlay" -->
    <!--   class="fixed h-screen w-screen bg-ctp-crust/50 z-10 backdrop-blur-sm invisible opacity-0 md:hidden" -->
    <!-- > -->
    <!-- </div> -->
    <nav
      id="navbar"
      class="transition-transform duration-300 max-md:translate-x-full max-md:w-60 max-md:min-h-screen max-md:absolute max-md:right-0 max-md:top-0 max-md:bg-ctp-crust z-100"
    >
      <ul
        id="nav-item"
        class="flex max-md:w-[80%] max-md:flex-col max-md:mt-5 max-md:ml-5 md:justify-center md:items-center gap-4 md:gap-10 rounded-lg
    font-jetbrains-mono text-ctp-text tracking-wide"
      >
        <div class="flex justify-between">
          <p
            id="nav-text"
            class="text-ctp-blue text-xl font-jetbrains-mono hidden z-100"
          >
            Navigation
          </p>
          <button
            id="x-mark"
            class="flex justify-center items-center hidden scale-120 transition duration-300 ease-in-out hover:scale-130 cursor-pointer z-100"
          >
            <span>
              <i class="fa-solid fa-xmark"></i>
            </span>
          </button>
        </div>
        <li>
          <a href="/about" class="hover:text-ctp-blue transition duration-150"
            >About</a
          >
        </li>
        <li>
          <a href="/posts" class="hover:text-ctp-blue transition duration-150"
            >Posts</a
          >
        </li>
        <li>
          <a
            href="/projects"
            class="hover:text-ctp-blue transition duration-150">Projects</a
          >
        </li>
        <li>
          <a href="/contact" class="hover:text-ctp-blue transition duration-150"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
<script>
  const navbar = document.getElementById("navbar");
  const button = document.getElementById("toggle-btn");
  const bars = document.getElementById("bars");
  const close = document.getElementById("x-mark");
  const navText = document.getElementById("nav-text");
  // const overlay = document.getElementById("overlay");

  const sidebarToggle = () => {
    navbar?.classList.toggle("max-md:translate-x-full");
    bars?.classList.toggle("hidden");
    close?.classList.toggle("hidden");
    navText?.classList.toggle("hidden");
    // overlay?.classList.toggle("invisible");
    // overlay?.classList.toggle("opacity-0");

    document.body.classList.toggle("overflow-hidden");
  };

  button?.addEventListener("click", sidebarToggle);
  close?.addEventListener("click", sidebarToggle);
  // overlay?.addEventListener("click", sidebarToggle);
</script>
