---
const currentPath = new URL(Astro.request.url).pathname;
let isDark = true;
---

<div class="flex justify-center">
  <nav class="fixed w-screen backdrop-blur-sm transparent">
    <ul
      class="flex justify-center items-center gap-5 h-15 font-medium font-roboto-flex tracking-wide text-base text-ctp-text"
    >
      <li>
        <a href="/" class={currentPath === "/" ? "opacity-100" : "opacity-70"}>
          Home
        </a>
      </li>
      <li>
        <a
          href="/project"
          class={currentPath === "/project" ? "opacity-100" : "opacity-70"}
        >
          What I've done
        </a>
      </li>
      <li>
        <button onclick="" id="modeToggle">
          {
            isDark ? (
              <i class="fa-regular fa-moon text-xl" />
            ) : (
              <i class="fa-regular fa-star text-xl" />
            )
          }
        </button>
      </li>
      <li>
        <a
          href="/certifications"
          class={currentPath === "/certifications"
            ? "opacity-100"
            : "opacity-70"}
        >
          Certifications
        </a>
      </li>
      <li>
        <a
          href="/blogs"
          class={currentPath === "/blogs" ? "opacity-100" : "opacity-70"}
        >
          Blogs
        </a>
      </li>
    </ul>
  </nav>
</div>
<script>
  let isDark = false;
  const mode = document.getElementById("modeToggle");
  const icon = document.createElement("i");

  mode?.appendChild(icon);
</script>
