---
import Img from "./Img.astro";

const { title, date, image, content } = Astro.props;
---

<div class="w-full h-auto mt-12 sm:mt-15 mb-20 sm:mb-30">
  <p class="font-roboto-flex font-semibold text-xs sm:text-sm tracking-wider">
    {date}
  </p>
  <div class="w-full sm:grid sm:grid-cols-2 mb-4">
    <h1 class="font-inter font-semibold text-xl sm:text-3xl tracking-wide">
      {title}
    </h1>
    <div class="flex justify-end">
      <button
        class="cursor-pointer font-roboto-flex text-sm font-semibold tracking-wide max-sm:mt-1 py-1 sm:py-0 px-6 max-sm:w-full bg-ctp-text sm:bg-ctp-text/95 hover:bg-ctp-text transition ease-in-out duration-100 text-ctp-base rounded-full"
        >See Detail</button
      >
    </div>
  </div>
  <Img image={image} />
  <p class="border-t-1 border-dashed border-ctp-text/60 mt-5 mb-2"></p>
  <p class="text-ctp-text font-roboto-flex italic text-lg">{content}</p>
</div>
