---
import Eco from "@/assets/project-img/eco-track.webp";
import EcoMobile from "@/assets/project-img/eco-track-calculator-mobile.webp";
const { image } = Astro.props;
---

<div id="card" class="w-full h-auto max-sm:shadow-md max-sm:rounded-xl">
  <div class="flex gap-4 aspect-4/3 sm:aspect-3/1">
    <div
      class="skeleton rounded-lg animate-pulse bg-gray-300 opacity-70 overflow-hidden relative"
    >
      <img
        src={Eco.src}
        alt="project image"
        loading="lazy"
        class="project-image object-cover w-full h-full opacity-0 transition-all duration-300"
      />
    </div>
    <div
      class="skeleton max-sm:hidden rounded-lg animate-pulse bg-gray-300 opacity-70"
    >
      <img
        src={EcoMobile.src}
        alt="project image"
        loading="lazy"
        class="project-image max-sm:hidden object-cover h-full opacity-0 transition-all duration-300"
      />
    </div>
  </div>
</div>
<script>
  const skeletons = document.querySelectorAll(".skeleton");
  const images = document.querySelectorAll(".project-image");

  function handleImageLoad(imgElement: HTMLImageElement) {
    const parentSkeleton = imgElement.parentElement;
    if (parentSkeleton) {
      parentSkeleton.classList.remove(
        "animate-pulse",
        "bg-gray-300",
        "opacity-70",
      );
      parentSkeleton.classList.add("shadow-md", "ring-1", "ring-gray-300/60");
    }

    imgElement.classList.remove("opacity-0");
  }

  images.forEach((img) => {
    const imageElement = img as HTMLImageElement;
    if (imageElement.complete) {
      handleImageLoad(imageElement);
    } else {
      imageElement.addEventListener("load", () =>
        handleImageLoad(imageElement),
      );
    }
  });
</script>
